streamlit
langchain
openai
langchain-google-genai
python-dotenv
google-generativeai
speechrecognition
pyttsx3
pandas
matplotlib
numpy
langchain-community
pip install pipwin
pipwin install pyaudio
